<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="db.properties">
</properties>
	<settings>
		<setting name="cacheEnabled" value="true"></setting>
	</settings> 
	<typeAliases>
		<package name="com.mybatis.cache.pojo"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.mybatis.cache.handler.SexEnumTypeHandler" javaType="sexEnum" jdbcType="INTEGER"/>
	</typeHandlers>
	<environments default="oracle">
		<environment id="mysql">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${database.driver}"/>
				<property name="password" value="${database.password}"/>
				<property name="username" value="${database.username}"/>
				<property name="url" value="${database.url}"/>
			</dataSource>
		</environment>
		<environment id="oracle">
		<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${orcl.database.driver}"/>
				<property name="password" value="${orcl.database.password}"/>
				<property name="username" value="${orcl.database.username}"/>
				<property name="url" value="${orcl.database.url}"/>
			</dataSource>
		</environment>
	</environments>
	<databaseIdProvider type="DB_VENDOR">
		<property name="Oracle" value="oracle"/>
		<property name="MySQL" value="mysql"/>
		<property name="DB2" value="db2"/>
	</databaseIdProvider>
	<mappers>
		<package name="com.mybatis.cache.mapper"/>
	</mappers>
</configuration>