<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.gradle.mvc"></context:component-scan>

	<context:property-placeholder location="/WEB-INF/config/db.properties"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" p:driverClassName="${database.driver}"
	    p:url="${database.url}" p:username="${database.username}" p:password="${database.password}"
	    ></bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
	    p:dataSource-ref="dataSource" p:configLocation="/WEB-INF/config/mybatis-config.xml">
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"  p:dataSource-ref="dataSource"></bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
	    p:annotationClass="org.springframework.stereotype.Repository" p:sqlSessionFactoryBeanName="sqlSessionFactory" 
	    p:basePackage="com.gradle.mvc.mapper">
	</bean>
</beans>