<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx = "http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context = "http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.gradle.mvc"></context:component-scan>
	<mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
	<!-- 配置数据和对象之间转换的转换器 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
			    <bean class="com.gradle.mvc.converter.StringToRoleConverter"></bean>
			</set>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/page/*" />
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="language"></property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/role/*" />
			<bean class="com.gradle.mvc.interceptor.RoleInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"></property>	 <!-- 5M -->
		<property name="maxUploadSizePerFile" value="5242880"></property><!-- 10M -->
		<property name="uploadTempDir" value="upload/tmp"></property>
	</bean>
	
	<!-- 国际化开始 -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>/WEB-INF/config/locale/msg</value>
			</array>
		</property>
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="cacheMillis" value="3600"></property>
	</bean>
<!-- 国际化结束 -->
<!-- httpmessageConverter转换器  start-->
	<bean id="requestMappingHandlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    
	    <property name="messageConverters">
	        <list>
	           <ref bean="jsonConverter"></ref>
	        </list>
	    </property>
	</bean>
	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	    <property name="supportedMediaTypes">
	        <list>
	            <value>application/json;charset=utf-8</value>
	        </list>
	    </property>
	</bean>
	<!-- httpmessageConverter转换器  end-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<aop:aspectj-autoproxy ></aop:aspectj-autoproxy>
</beans>