<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.annotation.redis.mapper.RoleDao">

	<resultMap type="role" id="roleMap">
		<id column="id" property="id"/>
		<result column="role_name" property="roleName" />
		<result column="note" property="note" />
	</resultMap>
	
	<select id="getRole" parameterType="long" resultMap="roleMap">
		select * from t_role where id=#{id}
	</select>
	
	<delete id="deleteRole" parameterType="long">
		delete from t_role where id=#{id}
	</delete>
	
	<insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role (role_name,note)values(#{roleName},#{note})
	</insert>	
	
	<update id="updateRole" parameterType="role">
		update t_role 
		<trim prefix="set" suffixOverrides=",">
			<if test="roleName != null and roleName != ''">
				role_name=#{roleName},
			</if>
			<if test="note != null and note != ''">
				note=#{note},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="findRoles" resultMap="roleMap">
		select * from t_role 
		<trim prefix="where" prefixOverrides="and">
			<if test="roleName != null and roleName != ''">
				<bind name="roleName_f" value="'%'+roleName+'%'"/>
				and role_name like #{roleName_f}
			</if>
			<if test="note != null and note != ''">
				<bind name="note_f" value="'%'+note+'%'"/>
				and note like #{note_f}
			</if>
		</trim>
	</select>
</mapper>