<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	">
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.*"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value=".jsp"></property>
		<property name="prefix" value="/WEB-INF/page/"></property>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>/WEB-INF/locale/msg</value>
			</array>
		</property>
		<!-- 0代表每次都从文件中读取；-1代码只加载一次，以后每次都从内存中读取 -->
		<property name="cacheSeconds" value="-1"></property>
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN"></property>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**"/>
		<mvc:exclude-mapping path="/page/login"/>
		<mvc:exclude-mapping path="/user/login"/>
		<mvc:exclude-mapping path="/page/regist"/>
		<mvc:exclude-mapping path="/user/sendEmail"/>
		<mvc:exclude-mapping path="/user/regist"/>
		<mvc:exclude-mapping path="/js/**"/>
			<bean class="com.myec.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
		
		<mvc:interceptor >
		<mvc:mapping path="/**"/>
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="language"></property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>