<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.spring.mybatis.trans.pojo"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/sqlmapper/RoleMapper.xml"/>
	</mappers>
</configuration>