<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myec.mapper.AddrMapper">

	<resultMap type="address" id="addrMap">
		<id column="id" property="id"/>
		<result column="addr" property="addr" />
		<result column="mobile" property="mobile"/>
		<result column="nickname" property="nickname"/>
		<result column="user_id" property="userId" />
	</resultMap>
	
	<select id="getListByUserId" parameterType="long" resultMap="addrMap">
		select * from ec_user_addr where user_id=#{id}
	</select>
	<select id="getById" parameterType="long" resultMap="addrMap">
		select * from ec_user_addr where id=#{id}
	</select>
	<select id="getByIdAndUserId" resultMap="addrMap">
		select * from ec_user_addr where id=#{id} and user_id=#{userId}
	</select>
	<insert id="add" parameterType="address">
		insert into ec_user_addr (nickname,addr,mobile,user_id) values(#{nickname},#{addr},#{mobile},#{userId})
	</insert>
	<delete id="delete">
		delete from ec_user_addr where id=#{id} and user_id=#{userId}
	</delete>
</mapper>