<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.mapper.RoleMapper">

	
	<insert id="insertRole"  useGeneratedKeys="true" keyProperty="role.id">
		insert into t_role(role_name,note)values(#{role.roleName},#{role.note})
	</insert>
	<insert id="insertRoleWithCustomId">
		<selectKey keyProperty="role.id" resultType="long" order="BEFORE" >
			select if(max(id)=null,1,max(id)+10) from t_role
		</selectKey>
		insert into t_role (id,role_name,note) values(#{role.id},#{role.roleName},#{role.note})
	</insert>
	<select id="findRolesByMap" parameterType="map" resultType="role">
		select id,role_name roleName,note from t_role where 
		role_name like concat('%',#{roleName},'%') 
		and note like concat('%',#{note},'%')
	</select>
	<select id="findRolesByAnnotation" resultType="role">
		select id,role_name roleName,note from t_role where 
		role_name like concat('%',#{roleName},'%') 
		and note like concat('%',#{note},'%')
	</select>
	<select id="findRolesByBean" parameterType="role" resultType="role">
		select id,role_name roleName,note from t_role where 
		role_name like concat('%',#{roleName},'%') 
		and note like concat('%',#{note},'%')
	</select>
	<select id="findRolesByMix" resultType="role">
		select id,role_name roleName,note from t_role where 
		role_name like concat('%',#{param.roleName},'%') 
		and note like concat('%',#{param.note},'%') 
		limit #{page.start} , #{page.limit}
	</select>
		<select id="findRolesByBounds" resultType="role">
		select id,role_name roleName,note from t_role where 
		role_name like concat('%',#{roleName},'%') 
		and note like concat('%',#{note},'%')
	</select>
</mapper>